python-dotenv
pandas
numpy
certifi
pymongo
ipykernel
seaborn
matplotlib
plotly
scikit-learn
imbalanced-learn
mlflow
dagshub

# BigQuery dependencies
google-cloud-bigquery
pandas-gbq
db-dtypes

# PySpark dependencies
pyspark
pyarrow
findspark
dagshub

##-e .